<!DOCTYPE html>

<div style="width: 580px; margin: 0 auto; padding-top: 55px; padding-bottom: 80px;">
  <div class="testimonial-quote group">
    <div class="quote-container">
      <blockquote>
        <p>Bienvenue dans notre page ... et ...</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="wrapper1">
  <div class="wrapper1-item">
    <%= image_tag "reunion-voit.jpg", height: 275, width: 600 %>
  </div>
  <div class="wrapper1-item">
    <p>
      If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
      middle of text. All the Lorem Ipsum generators on the. Internet tend to repeat predefined chunks as necessary, making this
      the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
      sentence structures, to generate Lorem Ipsum which looks reasonable.
    </p>
  </div>
</div>

<div style="width: 600px; margin: 0 auto; padding-top: 80px; padding-bottom: 60px;">
  <div class="testimonial-quote group">
    <div class="quote-container">
      <blockquote>
        <p>Statistiques reussite, phrase de pub. ― @nom prenom</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="wrapper2">
  <div class="wrapper2-item">
    <p>
      If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
      middle of text. All the Lorem Ipsum generators on the. Internet tend to repeat predefined chunks as necessary, making this
      the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
      sentence structures, to generate Lorem Ipsum which looks reasonable.
    </p>
  </div>
  <div class="wrapper2-item">
    <%= image_tag "reunion-voit.jpg", height: 275, width: 600 %>
  </div>
</div>

<div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;">
  <div class="testimonial-quote group">
    <div class="quote-container">
      <blockquote>
        <p>Ajouttons des autres informations clés!</p>
      </blockquote>
    </div>
  </div>
</div>
