<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
  <h3> Nous contacter </h3>
  <div class="general-body">
    <div class="contact-page">
      <div class="contact-info">
        <div class="item">
          <i class="icon fas fa-home center"></i>
          1 Rue xxx, Saint Denis, 97xxx
        </div>
        <div class="item">
          <i class="icon fas fa-phone"></i>
          +2629200000
        </div>
        <div class="item">
          <i class="icon fas fa-envelope"></i>
          autoecole@gmail.ru
        </div>
        <div class="item">
          <i class="icon fas fa-clock"></i>
          Lundi- Vendredi 08:00-13:00, 14:00-17:00 et
          Samedi 13:00-17:00 H
        </div>
      </div>

      <form action="" class="contact-form">
        <input type="text" class="textb" placeholder="Prénom">
        <input type="email" class="textb" placeholder="Votre Email">
        <textarea placeholder="Votre message"></textarea>
        <input type="submit" class="btn" value='Envoyer'>
      </form>
      <br><br>

    </div>
  </div>
</html>
