<!DOCTYPE html>
<html>
  <head>
    <title>AutoEcole</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <link href="../assets/stylesheets/styles.css" rel="stylesheet" />
  </head>
  <div class="landing-pg">
  <div class="content">
    <div class="catch-phrase">
      <h2> Here we can logo <br><span>Or we can use catch-phrase</span></h2>
    <h4> Some small explenations or some phrase, description, mostly 3 lines phrases no more,mostly 3 lines phrases <br>
    no more mostly 3 lines phrases no more,mostly 3 lines phrases no more</h4>
    <br><br><br><br>
    <a href="#" class="info-btn">S'inscrire</a>
    <br><br>
  </div>
