<!DOCTYPE html>

<div style="width: 400px; margin: 0 auto; padding-top: 30px; padding-bottom: 50px;">
  <div class="testimonial-quote group">
    <div class="quote-container">
      <blockquote>
        <p>Nos offres pour le permis Moto!</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="wrapper3">
  <div class="card">
    <div class="wrapper3-item">
      <div class="title">
        <label> Moto 1 </label>
      </div>
      <%= image_tag "moto1.jpg", height: 200 %>
      <p>All the Lorem Ipsum generators on the. Internet tend to repeat predefined chunks as necessary</p>
    </div>
  </div>

  <div class="card">
    <div class="wrapper3-item">
      <div class="title">
        <label> Moto 2 </label>
      </div>
      <%= image_tag "moto2.jpg", height: 200 %>
      <p>All the Lorem Ipsum generators on the. Internet tend to repeat predefined chunks as necessary</p>
    </div>
  </div>

  <div class="card">
    <div class="wrapper3-item">
      <div class="title">
        <label> Moto 3 </label>
      </div>
      <%= image_tag "moto3.jpg", height: 200, width: 300 %>
      <p>All the Lorem Ipsum generators on the. Internet tend to repeat predefined chunks as necessary</p>
    </div>
  </div>
</div>
