<!DOCTYPE html>

<div style="width: 400px; margin: 0 auto; padding-top: 30px; padding-bottom: 50px;">
  <div class="testimonial-quote group">
    <div class="quote-container">
      <blockquote>
        <p>Nos offres pour le permis Auto!</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="wrapper3">

  <div class="card">
    <div class="wrapper3-item">
      <div class="title">
        <label> FORMATION B </label>
      </div>
      <%= image_tag "img1.jpg", height: 200, width: '449' %>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> DEMARCHE ADMINISTRATIVES</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 50 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> COURS COLLECTIFS ET PROJECTIONS EN SALLE</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 130 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> LIVRE DE CODE</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 20 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> CLASSE ROUSSEAU</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 20 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> 1 Heure d'évaluation de conduite</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 40 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> 1 Heure de conduite individuel effectif au volant</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 40 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Kit Pedagogique (fiche de suivi + fiche d'évalution + livret d'apprentissage) d'évaluation de conduite</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 20 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Livre de vérification</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 20 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Premier Prestation à l'examen pratique</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 0 €</p>
          </div>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="wrapper3-item">
      <div class="title">
        <label> FORMATION AAC </label>
      </div>
      <%= image_tag "img2.jpg", height: 200, width: 449 %>
<div class="text-grid">
          <div class="text-on-grid">
            <p> DEMARCHE ADMINISTRATIVES</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 50 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> COURS COLLECTIFS ET PROJECTIONS EN SALLE</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 130 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> LIVRE DE CODE</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 20 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> CLASSE ROUSSEAU</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 20 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> 1 Heure d'évaluation de conduite</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 40 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> 1 Heure de conduite individuel effectif au volant</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 40 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Kit Pedagogique (fiche de suivi + fiche d'évalution + livret d'apprentissage) d'évaluation de conduite</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 20 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Livre de vérification</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 20 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Rendez-vous préalable</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 45 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Rendez-vous pédagogique 1</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 45 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Rendez-vous pédagogique 2</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 45 €</p>
          </div>
        </div>
        <div class="text-grid">
          <div class="text-on-grid">
            <p> Premier Prestation à l'examen pratique</p>
          </div>
          <div class="text-on-grid">
            <p style="text-align:right"> 0 €</p>
          </div>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="wrapper3-item">
      <div class="title">
        <label> Title 2 </label>
      </div>
      <%= image_tag "img3.png", height: 200, width: 280 %>
      <p>All the Lorem Ipsum generators on the. Internet tend to repeat predefined chunks as necessary</p>
    </div>
  </div>
  <br>

</div>

<br><hr><br>
