<!DOCTYPE html>

<div style="width: 400px; margin: 0 auto; padding-top: 30px; padding-bottom: 50px;">
  <div class="testimonial-quote group">
    <div class="quote-container">
      <blockquote>
        <p>Nous offres pour le permis Auto!</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="wrapper2">
  <div class="whrapper2-item">
    <h5> Title </h5>
  </div>
  <div class="whrapper2-item">
    <h5> Title </h5>
  </div>
  <div class="whrapper2-item">
    <h5> Title </h5>
  </div>
  <div class="whrapper2-item">
    <%#= image_tag "img1.png", height: 170, width: 200 %>
    <p> kot </p>
  </div>
  <div class="whrapper2-item">
        <%#= image_tag "img2.png", height: 170, width: 200 %>
    <h5> Title </h5>
  </div>
  <div class="whrapper2-item">
    <%= image_tag "img3.png", height: 170, width: 200 %>
    <h5> Title </h5>
  </div>
  <div class="whrapper2-item">
  </div>
</div>
