<h1>Student#show</h1><br><br>
<p> Bienvenue monsieur
  <%= @current_student.first_name %>
  <%= @current_student.last_name %>
</p>
<p> Si vous voulez voir les heures de cours disponibles
  <%= link_to "Calendrier", timeslots_index_path %>