<h1>Student#show</h1>
<p>Find me in app/views/student/show.html.erb</p>

<p> Le prénom:
  <%= @profil_std.first_name %>
  Le nom:
  <%= @profil_std.last_name %>
<p>

<p> The email:
  <%= @student_show.email %>
<p>
