<!DOCTYPE html>
<html>
  <head>
    <title>AutoEcole</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <link href="../assets/stylesheets/styles.css" rel="stylesheet" />
  </head>
  <div class="red">
    <body class="body">
    <p> here </p>
    </body>
  </div>