<h1>Calendar#index</h1>
<% @calendar_all.each do |date| %>
  <% (date.start_date..date.end_date).each do |day| %><br>
    <%= day.strftime('%A') %>

    <%= day %>
  <% end %>
  <%= @test[1] %>
<% end %>
