// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing-pg {
  background-color: rgb(245, 245, 237);
  color: black;
}

.container {
  margin-top: 2px;
}

.navbar {
  z-index: 999;
}

a:hover {
  color:  rgb(50, 214, 124);
  text-decoration: none;
}

.logo-container {
  width: 160px;
  height: 64px;
  text-align: center;
  display: flex;
  color: rgb(50, 214, 124);
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
}

.menu-container {
  background-color: white;
  width: 64px;
  height: 64px;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  padding-right: 17px;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 2px;
  background-color: black;
}

.line2 {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px 0;
  transition-duration: 0.5s;
}

.menu-icon:hover .line2 {
  width: 30px;
}

#menu-nav {
  display: none;
}

#menu-nav::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 22.5px;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
}

.menu-icon:hover #menu-nav {
  background-color: black;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  display: grid;
  align-content: center;
}

.menu-list a {
  padding: 15px 0 15px 15px;
  text-decoration: none;
  color: white;
  z-index: 999;
  border-bottom: 1px solid #ececec;
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.5s;
}

.menu-list a:nth-child(4) {
  border-bottom: none;
}

.menu-list a:hover {
  padding-left: 30px;
}


.landing-pg {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(first_img.jpg)no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  max-width: 650;
  margin: 70px 110px;
  color: rgb(160, 66, 139);
  text-shadow: rgb(190, 190, 36) 1px 0 10px;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.content h2 span{
  color: rgb(13, 105, 29);
  text-shadow: rgb(190, 190, 36) 1px 0 10px;
}

.content h5 {
  color: rgb(41, 40, 40);
  text-shadow: white 1px 1px;
}

.info-btn {
  position: absolute;
  right: 10%;
  color:#fff;
  background-color: rgb(72, 72, 153);
  text-transform: uppercase;
  padding: 10px 20px;
  letter-spacing: 1.5px;
  border-radius: 5px;
  transition: 0.2s;
}

.info-btn:hover {
  color: rgb(162, 181, 190);
  background-color: #226A80;
  text-decoration: none;
}
