// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Landing page*/

.logo-container {
  width: 160px;
  height: 64px;
  text-align: center;
  display: flex;
  color: rgb(50, 214, 124);
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
  z-index: 999;
}

.menu-container {
  background-color: white;
  width: 64px;
  height: 64px;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  margin-top: 2px;
}

.navbar-fluid {
  z-index: 999;
  text-decoration: none;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  padding-right: 17px;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 2px;
  background-color: black;
}

.line2 {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px 0;
  transition-duration: 0.5s;
}

.menu-icon:hover .line2 {
  width: 30px;
}

#menu-nav {
  display: none;
}

#menu-nav::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 22.5px;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
}

.menu-icon:hover #menu-nav{
  background-color: black;
  color: white;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  display: grid;
  align-content: center;
}

.menu-list a {
  padding: 15px 0 15px 15px;
  text-decoration: none;
  color: white;
  z-index: 999;
  border-bottom: 1px solid #ececec;
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.5s;
}

.menu-list a:nth-child(4) {
  border-bottom: none;
}

.menu-list a:hover {
  padding-left: 30px;
  text-decoration: none!important;
}


/*Accueille page */

.wrapper1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper1-item {
  padding: 1px;
  right: 1px;
}

.testimonial-quote {
  font-size: 16px;
}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;

  background: none;
  color: gray;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper2-item {
  padding: 1px;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: '\201C';
  color: #81bedb;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -300;
}


.testimonial-quote cite {
  color: gray;
  display: block;
  font-size: .8em;
}

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.testimonial-quote {
  position: relative;
}

.testimonial-quote .quote-container {
  padding-left: 100px;
}

.testimonial-quote.right .quote-container {
  padding-left: 0;
  padding-right: 160px;
}

/* Permis */

.wrapper3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wrapper3-item {
  padding: 1px;
}

.title {
  text-align: center;
}