<h1>Timeslots#index</h1>
<% @time_slots_all.each do |time_slots| %>
  <ul>
    <%# time_slots.start_slot.each do |day_slots| %>
      <li></li>
      <li></li>
      <li></li>
    <% end %>
  </ul>
<% end %>
