<h1>Timeslots#index</h1>
<%= @day_slots %>
<% @time_slots_all.each do |time_slots| %>
  <ul>
    <li><%= time_slots.teacher_id %></li>
    <li><%= time_slots.start_slot %></li>
    <li><%= time_slots.end_slot %></li>
  </ul>
<% end %>
