<div class="footer">
    <footer>
      <p>
        <!--To go to the licence-->
        <a href="https://guides.lib.umich.edu/creativecommons/licenses#:~:text=Attribution%2DNonCommercial%2DNoDerivs%3A%20CC,way%20or%20use%20them%20commercially.">© Copyright 2022</a>
        <!--For the Bullet-->
        <p>&nbsp;•&nbsp;</p>
        <!--Does Nothing-->
        <p>Contact</p>
        <!--For the Bullet-->
        <p>&nbsp;•&nbsp;</p>
        <!--Does nothing-->
        <p>About</p>
      </p>
  </footer>
</div>
