<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="logo-container">
        <h5>Auto Ecole Alpha</h5>
      </div>
    <a class="active" href="#home"> Accueille</a>
    <a href="#news">About</a>
    <a href="#contact">User</a>

    <div class="menu-container">
        <div class="menu-icon">
          <div class="line"></div>
          <div class="line2"></div>
          <div class="line"></div>
          
          <div class="menu-list">
            <nav id="menu-nav">
              <a href="#services">Inscription</a>
              <a href="#portfolio">Log in</a>
              <a href="#about">Log out</a>
            </nav>
          </div>
        </div>
      </div>
  </div>
</nav>
